#scene{
    position: relative;
    z-index:1 ;
    width: 1900px;
    height: 900px;
    background-image: url(../../fuentes/subscene_bg.png);

}
#english{
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 30px;
    background-image: url(../../fuentes/uk.png);
    filter: grayscale(50%);
    background-size: 100%;
    margin-left: 130px;
    margin-top: 15px;
    opacity: 0;
    animation: appear 2s 3.2s, appear_move 2s 5.2s infinite;
}
#spanish{
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 30px;
    background-image: url(../../fuentes/spain.png);
    filter: grayscale(50%);
    background-size: 100%;
    margin-left: 210px;
    margin-top: 10px;
    border-radius: 9px;
    border: solid gold;
    opacity: 0;
    animation: appear 2s 3.4s, appear_move 2s 5.4s infinite;
}
#help{
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 50px;
    background-image: url(../../fuentes/help.png);
    background-size: 100%;
    filter: saturate(6);
    margin-left: 1820px;
    margin-top: 15px;
    transition: 1s;
    opacity: 0;
    animation: appear 2s 3.8s, appear_move 2s 5.8s infinite;
}
#help:hover{
    filter: brightness(2);
    transition: 1s;
}


#contact_txt{
    position: absolute;
    z-index: 2;
    width: 300px;
    height: 30px;
    background-image: url(../../fuentes/contact_txt.png);
    background-size: 100%;
    margin-left: 1560px;
    margin-top:22px;
    opacity: 0;
    transition: 0.3s;
    transform: scale(0.2);
}
#help:hover + #contact_txt{
    opacity: 1;
    transform: scale(1);
}
#menu{
    position: absolute;
    z-index: 3;
    width: 85px;
    height: 49px;
    background-image: url(../../fuentes/menu.png);
    background-size: 100%;
    margin-left: 15px;
    margin-top: 5px;
    opacity: 0;
    animation: appear 2s 3s, appear_move 2s 5s infinite;
}
#menu_cont{
    position: absolute;
    z-index: 2;
    width: 120px;
    height: 820px;
    margin-top: -900px;
    opacity: 0;
    transition: 0.5s;
    
    background-color: black;
}
#home{
    position: absolute;
    z-index: 6;
    background: url(../../fuentes/animation2.gif);
    background-size: 100%;
    width: 100px;
    height: 100px;
    margin-top: 0px;
    margin-left: 14px;
}
#home:hover + #home_txt{
    transform: scale(1) translate(60px);
    opacity: 1;
    transition: 0.5s; 
}
#home_txt{
    position: absolute;
    z-index: 6;
    width: 160px;
    height: 20px;
    background-image: url(../../fuentes/home.png);
    background-size: 100%;
    margin-top: 40px;
    margin-left: 0px;
    transform: scale(0.2);
    opacity: 0;
}

#animation{
    position: absolute;
    z-index: 6;
    background: url(../../fuentes/animation.gif);
    background-size: 100%;
    width: 120px;
    height: 120px;
    margin-top: 90px;

}
#animation:hover + #animation_txt{
    transform: scale(1) translate(60px);
    opacity: 1;
    transition: 0.5s;
}
#animation_txt{
    position: absolute;
    z-index: 6;
    width: 160px;
    height: 20px;
    background-image: url(../../fuentes/animation_txt.png);
    background-size: 100%;
    margin-top: 130px;
    margin-left: 20px;
    transform: scale(0.2);
    opacity: 0;
    transition: 0.5s;
}
#illustration{
    position: absolute;
    z-index: 5;
    background: url(../../fuentes/illustration.gif);
    background-size: 100%;
    width: 120px;
    height: 100px;
    margin-top: 160px;
    margin-left: 0px;
    opacity: 0.3;
    filter: grayscale(100%);

}

#illustration_txt{
    position: absolute;
    z-index: 6;
    width: 160px;
    height: 20px;
    background-image: url(../../fuentes/illustration_txt.png);
    background-size: 100%;
    margin-top: 205px;
    margin-left: 30px;
    transform: scale(0.2);
    opacity: 0;
    transition: 0.5s;
}
#illustration:hover + #illustration_txt{
       transform: scale(1) translate(60px);
    opacity: 1;
    transition: 0.5s; 
}

#illumination{
    position: absolute;
    z-index: 5;
    background: url(../../fuentes/illumination.gif);
    background-size: 100%;
    width: 110px;
    height: 110px;
    margin-top: 240px;
    margin-left: 6px;

}

#illumination_txt{
    position: absolute;
    z-index: 6;
    width: 160px;
    height: 20px;
    background-image: url(../../fuentes/illumination_txt.png);
    background-size: 100%;
    margin-top: 280px;
    margin-left: 30px;
    transform: scale(0.2);
    opacity: 0;
    transition: 0.5s;
}

#illumination:hover + #illumination_txt{
    transform: scale(1) translate(60px);
    opacity: 1;
    transition: 0.5s;
}
#modeling{
    position: absolute;
    z-index: 5;
    background: url(../../fuentes/modeling.gif);
    background-size: 100%;
    width: 120px;
    height: 100px;
    margin-top: 310px;
}
#modeling_txt{
    position: absolute;
    z-index: 6;
    width: 160px;
    height: 20px;
    background-image: url(../../fuentes/modeling_txt.png);
    background-size: 100%;
    margin-top: 354px;
    margin-left: 40px;
    transform: scale(0.2);
    opacity: 0;
    transition: 0.5s;
}
#modeling:hover + #modeling_txt{
       transform: scale(1) translate(60px);
    opacity: 1;
    transition: 0.5s; 
}
#programming{
    position: absolute;
    z-index: 5;
    background: url(../../fuentes/programming.gif);
    background-size: 100%;
    width: 120px;
    height: 100px;
    margin-top: 390px;

}
#programming_txt{
    position: absolute;
    z-index: 6;
    width: 160px;
    height: 20px;
    background-image: url(../../fuentes/programming_txt.png);
    background-size: 100%;
    margin-top: 435px;
    margin-left: 40px;
    transform: scale(0.2);
    opacity: 0;
    transition: 0.5s;
}
#programming:hover + #programming_txt{
       transform: scale(1) translate(60px);
    opacity: 1;
    transition: 0.5s; 
}
#sculpting{
    position: absolute;
    z-index: 4;
    background: url(../../fuentes/sculpting.gif);
    background-size: 100%;
    width: 120px;
    height: 100px;
    margin-top: 470px;

}
#sculpting_txt{
    position: absolute;
    z-index: 6;
    width: 160px;
    height: 20px;
    background-image: url(../../fuentes/sculpting_txt.png);
    background-size: 100%;
    margin-top: 515px;
    margin-left: 30px;
    transform: scale(0.2);
    opacity: 0;
    transition: 0.5s;
}
#sculpting:hover + #sculpting_txt{
       transform: scale(1) translate(60px);
    opacity: 1;
    transition: 0.5s; 
}
#procedural_maps{
    position: absolute;
    z-index: 4;
    background: url(../../fuentes/procedural.gif);
    background-size: 100%;
    width: 120px;
    height: 100px;
    margin-top: 560px;

}
#procedural_maps_txt{
    position: absolute;
    z-index: 6;
    width: 130px;
    height: 50px;
    background-image: url(../../fuentes/procedural_txt.png);
    background-size: 100%;
    margin-top: 590px;
    margin-left: 60px;
    transform: scale(0.2);
    opacity: 0;
    transition: 0.5s;
}
#procedural_maps:hover + #procedural_maps_txt{
       transform: scale(1) translate(60px);
    opacity: 1;
    transition: 0.5s; 
}
#rigging{
    position: absolute;
    z-index: 3;
    background: url(../../fuentes/rigging.gif);
    background-size: 100%;
    width: 120px;
    height: 100px;
    margin-top: 650px;

}
#rigging_txt{
    position: absolute;
    z-index: 6;
    width: 160px;
    height: 20px;
    background-image: url(../../fuentes/rigging_txt.png);
    background-size: 100%;
    margin-top: 695px;
    margin-left: 40px;
    transform: scale(0.2);
    opacity: 0;
    transition: 0.5s;
}
#rigging:hover + #rigging_txt{
       transform: scale(1) translate(60px);
    opacity: 1;
    transition: 0.5s; 
}
#texturing{
    position: absolute;
    z-index: 2;
    background: url(../../fuentes/texturing.gif);
    background-size: 100%;
    width: 120px;
    height: 100px;
    margin-top: 720px;
}
#texturing_txt{
    position: absolute;
    z-index: 6;
    width: 160px;
    height: 20px;
    background-image: url(../../fuentes/texturing_txt.png);
    background-size: 100%;
    margin-top: 765px;
    margin-left: 40px;
    transform: scale(0.2);
    opacity: 0;
    transition: 0.5s;
}
#texturing:hover + #texturing_txt{
       transform: scale(1) translate(60px);
    opacity: 1;
    transition: 0.5s; 
}
#page{
    position: absolute;
    z-index: 5;
    width: 200px;
    height: 200px;
    background: url("../../fuentes/illustration.gif");
    background-size: 100%;
    margin-left: 860px;
    margin-top: 0px;
    animation: page 4s;
    opacity: 0.3;
    filter: grayscale(100%);
}
@keyframes page{
    0%{
        opacity: 0;
        filter: grayscale(0%);
        transform: scale(0.2)translateY(0px);
    }
    12.5%{
        opacity: 0;
        filter: grayscale(0%);
        transform: scale(2)translateY(180px);
    }
    50%{
        opacity: 1;
        filter: grayscale(0%);
        transform: scale(2)translateY(180px);
    }
    70%{
        
        opacity: 1;
        filter: grayscale(0%);
        transform: scale(2)translateY(180px);
    
    }
    100%{
        opacity: 0.3;
        filter: grayscale(100%);
        transform: scale(1);
    }
}
#page_name{
    position: absolute;
    z-index: 5;
    width: 400px;
    height: 40px;
    background-image: url(../../fuentes/illustration_txt.png);
    background-size: 100%;
    margin-left: 780px;
    margin-top: 600px;
    opacity: 0;
    transform: scale(0.5);
    animation: page_name 2s 1s;
}
@keyframes page_name{
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
    90%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(0.5);
    }
}

@keyframes appear{
    0%{
        opacity: 0;
        transform: scale(0.6);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes appear_move{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 1;
        transform: scale(0.999);
    }
}
#characters{
    position: absolute;
    z-index: 2;
    width: 400px;
    height: 220px;
    background-image: url(charactercreate/vulture%20sombras.png);
    background-size: 100%;
    margin-left: 200px;
    margin-top: 300px;
    border-radius: 10px;
    opacity: 0;
    animation: appear 2s 3.4s, appear_move 2s 5.4s infinite;
}
#characters_txt{
    position: absolute;
    z-index: 2;
    width: 300px;
    height: 40px;
    background-image: url(../../fuentes/characters.png);
    background-size: 100%;
    margin-left: 260px;
    margin-top: 240px;
    opacity: 0;
    animation: appear 2s 3.4s, appear_move 2s 5.4s infinite;
}
#characters:hover{
    background: url("charactercreate/character.gif");
    background-size: 100%;
}
#drawings{
    position: absolute;
    z-index: 3;
    width: 400px;
    height: 240px;
    background-image: url(drawings/phoenix.jpg);
    background-size: 100%;
    margin-left: 450px;
    margin-top: 600px;
    border-radius: 10px;
    opacity: 0;
    animation: appear 2s 3.6s, appear_move 2s 5.6s infinite;
}

#drawings_txt{
    position: absolute;
    z-index: 3;
    width: 300px;
    height: 40px;
    background-image: url(../../fuentes/drawings.png);
    background-size: 100%;
    margin-left: 500px;
    margin-top: 550px;
    opacity: 0;
    animation: appear 2s 3.6s, appear_move 2s 5.6s infinite;
}
#drawings:hover{
    background: url("drawings/drawings.gif");
    background-size: 100%;
}
#edits{
    position: absolute;
    z-index: 3;
    width: 400px;
    height: 230px;
    background-image: url(edits/basket3.jpg);
    background-size: 100%;
    margin-left: 1100px;
    border-radius: 10px;
    margin-top: 600px;
    opacity: 0;
    animation: appear 2s 3.8s, appear_move 2s 5.8s infinite;
}
#edits_txt{
    position: absolute;
    z-index: 3;
    width: 300px;
    height: 35px;
    background-image: url(../../fuentes/edits.png);
    background-size: 100%;
    margin-left: 1150px;
    margin-top: 550px;
    opacity: 0;
    animation: appear 2s 3.8s, appear_move 2s 5.8s infinite;
}
#edits:hover{
    background: url("edits/edits.gif");
    background-size: 100%;
}
#logo{
    position: absolute;
    z-index: 3;
    width: 400px;
    height: 220px;
    background-image: url(logo/simple.png);
    background-size: 100%;
    margin-left: 1400px;
    border-radius: 10px;
    margin-top: 300px;
    opacity: 0;
    animation: appear 2s 4s, appear_move 2s 6s infinite;
}
#logo_txt{
    position: absolute;
    z-index: 3;
    width: 300px;
    height: 35px;
    background-image: url(../../fuentes/logo.png);
    background-size: 100%;
    margin-left: 1450px;
    margin-top: 250px;
    opacity: 0;
    animation: appear 2s 4s, appear_move 2s 6s infinite;
}
#logo:hover{
    background: url("logo/logo.gif");
    background-size: 100%;
}
