
#scene{
    position: absolute;
    z-index: 0;
    width: 3940px;
    height: 3000px;
    background-image: url(screen_bg.png);
}
#credits{
    width: 2800px;
    height: 2800px;
    position: absolute;
    z-index: 1;
    background-image: url(CREDITS.png);
    background-size: 100%;
    margin-left: 500px;
    margin-top: 50px;
    animation-name: credits;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}
@keyframes credits{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}
#back{
    width: 500px;
    height: 240px;
    position: absolute;
    z-index: 2;
    background-image: url(BACK.png);
    background-size: 100%;
    margin-left: 100px;
    margin-top: 2700px;
    animation: credits 3s infinite ease-in-out alternate-reverse;
    
}