#scene{
    position: relative;
    z-index: 0;
    width: 3940px;
    height: 3000px;
    background-image: url(screen_bg.png);
    background-size: 100%;
}
#tutorial{
    position: absolute;
    z-index: 1;
    width: 3400px;
    height: 2600px;
    background-image: url(tutorial.PNG);
    background-size: 100%;
    margin-left: 280px;
    margin-top: 20px;
    transition: 1s;
}
#back{
    width: 500px;
    height: 240px;
    position: absolute;
    z-index: 2;
    background-image: url(BACK.png);
    background-size: 100%;
    margin-left: 1700px;
    margin-top: 2700px;
    animation: credits 3s infinite ease-in-out alternate-reverse;
    opacity: 0;
    transition: 1s;
    
}
#next{
    width: 500px;
    height: 240px;
    position: absolute;
    z-index: 2;
    background-image: url(NEXT.png);
    background-size: 100%;
    margin-left: 2700px;
    margin-top: 2700px;
    animation: credits 3s infinite ease-in-out alternate-reverse;
    
}
#skip{
    width: 500px;
    height: 240px;
    position: absolute;
    z-index: 2;
    background-image: url(SKIP.png);
    background-size: 100%;
    margin-left: 600px;
    margin-top: 2700px;
    animation: credits 3s infinite ease-in-out alternate-reverse;
    
}
