#screen{
    position: absolute;
    z-index: 0;
    width: 3940px;
    height: 3000px;
    background-image: url(screen_bg.png);
}
#fons{
    position: absolute;
    z-index: 1;
    width: 3840px;
    height: 2400px;
    background-image: url(fons.png);
    background-size: 100%;
    margin-top: 40px;
    border: solid 50px;
    border-color: rgb(15,15,15,1);
}
#back{
    position: absolute;
    z-index: 40;
    width: 160px;
    height: 95px;
    background-image: url(BACK.png);
    background-size: 100%;
    margin-top: 300px;
    margin-left: 200px;
    opacity: 0;
}

#mort{
    position: absolute;
    z-index: 3;
    width: 1700px;
    height: 1700px;
    background-image: url(mort.png);
    background-size: 100%;
    margin-left: 1320px;
    margin-top: 90px;
    transform-origin: top;
    animation-name: mort;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}
@keyframes mort{
    0%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(-5deg);
    }
}

#cadira{
    position: absolute;
    z-index: 3;
    width: 950px;
    height: 950px;
    background-image: url(cadira.png);
    background-size: 100%;
    margin-left: 1350px;
    margin-top: 1600px;
}
#cadira:hover{
    transform: rotate(360deg) scale(2) translateY(-200px) translateX(140px);
    transition: 2s;
}
#carta{
    position: absolute;
    z-index: 11;
    width: 700px;
    height: 700px;
    background-image: url(carta.png);
    background-size: 100%;
    margin-left: 1540px;
    margin-top: 1984px;
}
#carta:hover{
    transform:scale(3) translateY(-300px);
    transition: 2s;
}
#flor{
    position: absolute;
    z-index: 6;
    width: 700px;
    height: 700px;
    background-image: url(flor.png);
    background-size: 100%;
    margin-left: 68px;
    margin-top: 1840px;
}

#petal{
    position: absolute;
    z-index: 4;
    width: 200px;
    height: 200px;
    background-image: url(petal.png);
    background-size: 100%;
    margin-left: 200px;
    margin-top: 1890px;
    
}

    @keyframes petal{ 
        0%{transform: translateX(0px) translateY(0px)rotate(50deg);
        }
        
        30%{transform: translateX(180px) translateY(180px) rotate(-50deg);         
        }
        
        50%{transform: translateX(-60px) translateY(270px)rotate(50deg);
        }
        
         80%{transform: translateX(270px) translateY(330px) rotate(-50deg);       
        }
        
         100%{transform: translateX(270px) translateY(345px)rotate(50deg);
        }
    }
    
#navalla{
    position: absolute;
    z-index: 10;
    width: 170px;
    height: 170px;
    background-image: url(navalla.png);
    background-size: 100%;
    margin-left: 950px;
    margin-top: 2170px;
}
#navalla:hover{
    transform: rotate(360deg)scale(2) translateX(400px)translateY(-500px);
    transition: 2s;
}

#poster_1{
    position: absolute;
    z-index: 3;
    width: 530px;
    height: 530px;
    background-image: url(poster_1.png);
    background-size: 100%;
    margin-left: 2340px;
    margin-top: 400px;
}
#poster_1:hover{
    transform: scale(2)translateY(200px) translateX(-300px);
    transition: 2s;
}
#poster_2{
    position: absolute;
    z-index: 3;
    width: 350px;
    height: 350px;
    background-image: url(poster_2.png);
    background-size: 100%;
    margin-left: 1170px;
    margin-top: 550px;
}
#poster_2:hover{
    transform: scale(3)translateY(140px) translateX(200px);
    transition: 2s;
}
#poster_3{
    position: absolute;
    z-index: 3;
    width: 800px;
    height: 800px;
    background-image: url(poster_3.png);
    background-size: 100%;
    margin-left: 400px;
    margin-top: 270px;
}
#poster_3:hover{
    transform: scale(2)translateY(200px) translateX(500px);
    transition: 2s;
}

#rata{
    position: absolute;
    z-index: 12;
    width: 600px;
    height: 600px;
    background-image: url(rata.png);
    background-size: 100%;
    margin-left: 3020px;
    margin-top: 2070px;
    animation-name: rata;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes rata{
    0%{
        transform: translateX(0px)rotateY(0deg);
    }
    45%{
        transform: translateX(-2250px)rotateY(0deg);
    }
    50%{
        transform: translateX(-2300px)rotateY(180deg);
    }
    95%{
        transform: translateX(-50px)rotateY(180deg);
    }
    100%{
        transform: translateX(0px)rotateY(0deg);
    }
}

#paper{
    position: absolute;
    z-index:10;
    width: 450px;
    height: 450px;
    background-image: url(paper.png);
    background-size: 100%;
    margin-left: 2700px;
    margin-top: 1950px;
}
#paper:hover{
    transform: rotate(360deg);
    transition: 2s;
}

#popup_select{
    position: absolute;
    z-index: 50;
    width: 250px;
    height: 140px;
    background-image: url(popup_select_weapon.png);
    background-size: 100%;
    margin-top: 1300px;
    margin-left: 3300px;
    opacity: 0;
}
#scene_name{
    position: absolute;
    z-index: 14;
    width: 900px;
    height: 160px;
    background-image: url(SCENE_NAME_2.png);
    background-size: 100%;
    margin-left: 1500px;
    border-radius: 90px;
}
#lives{
    position: absolute;
    z-index: 26;
    width: 760px;
    height: 160px;
    background-image: url(lives.png);
    background-size: 100%;
    margin-left: 3000px;
    border-radius: 80px;
}
#lives_n{
    position: absolute;
    z-index: 27;
    width: 300px;
    height: 100px;
    background-image: url(lives_3.png);
    background-size: 100%;
    margin-left: 3420px;
    margin-top: 30px;
    transition: 0.5s;
}
#clues{
    position: absolute;
    z-index: 25;
    width: 800px;
    height: 170px;
    background-image: url(Clues.png);
    background-size: 100%;
    margin-left: 50px;
    border-radius: 80px;
}
#clues_n{
    position: absolute;
    z-index: 50;
    width: 200px;
    height: 140px;
    margin-left: 550px;
    margin-top: 10px;
    color: red;
    font-size: 140px;
}
#weapon_box{
    position: absolute;
    z-index: 10;
    width: 900px;
    height: 500px;
    margin-top: 2500px;
    background-image: url(weapon_box.png);
    background-size: 105%;
}
#weapon{
    position: absolute;
    z-index: 15;
    width: 500px;
    height: 270px;
    margin-top: 2640px;
    margin-left: 300px;
    background-image: url(nothing.png);
    background-size: 100%;
}
#murderer_box{
    position: absolute;
    z-index: 10;
    width: 900px;
    height: 550px;
    margin-top: 2460px;
    margin-left: 1500px;
    background-image: url(murderer_box.png);
    background-size: 100%;
}
#murderer{
    position: absolute;
    z-index: 50;
    width: 500px;
    height: 350px;
    margin-top: 2600px;
    margin-left: 1700px;
    background-image: url(nothing.png);
    background-size: 100%;
}
#crime_scene_box{
    position: absolute;
    z-index: 10;
    width: 900px;
    height: 540px;
    margin-top: 2470px;
    margin-left: 3000px;
    background-image: url(crime_scene_box.png);
    background-size: 100%;
    transition: 1s;
}
#crime_scene{
    position: absolute;
    z-index: 24;
    width: 500px;
    height: 500px;
    background-image: url(CRIME_SCENE_CORRECT_FALSE.png);
    background-size: 100%;
    margin-left: 3200px;
    margin-top: 2540px;
    font-size: 70px;

}
@keyframes crime_scene_correct{
    0%{
        background-image: url(CRIME_SCENE_CORRECT_FALSE.png);
    }
    50%{
        background-image: url(CRIME_SCENE_CORRECT_WRONG.png);
    }
    100%{
        background-image: url(CRIME_SCENE_CORRECT_FALSE.png);
    }
}
#gameover{
    position: absolute;
    z-index: 50;
    width: 2px;
    height: 2px;
    background-image: url("GAMEOVER.png");
    background-size: 100%;
    margin-left: 1000px;
    margin-top: 400px;
    opacity: 0;
    transition: 1s;
}
#try_again{
    position: absolute;
    z-index: 50;
    width: 2px;
    height: 2px;
    background-image: url("TRY_AGAIN.png");
    background-size: 100%;
    margin-left: 1160px;
    margin-top: 1800px;
    opacity: 0;
    transition: 1s;
    
}